<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @despesa.data %>
</p>

<p>
  <strong>Time:</strong>
  <%= @despesa.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @despesa.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @despesa.amount %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @despesa.comment %>
</p>
<%= link_to 'Back', despesas_path%>
